################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.db
*.opendb
*.db-wal
*.db-shm
*.ipch
*.suo
